// green style
$ng-black: #382933;
$ng-deep-green: #3b5249;
$ng-green: #519872;
$ng-gray-green: #a4b494;

// vintage
$vin-gray: #222831;
$vin-blue: #30475e;
$vin-red: #f05454;
$vin-light: #e8e8e8;
$vin-gray: #b3adad;
