@import './../../static/css/variables.scss';

body {
    background-color: $vin-light;
}

.spider-form {
    width: 100%;
    section {
        max-width: 850px;
        margin: 0 auto;
    }

    .news {
        .item {
            display: flex;
            padding: 5px;
            margin: 10px 0;
            box-shadow: 0px 2px 6px rgba(114, 112, 112, 0.2);

            &:hover {
                cursor: pointer;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
                // box-shadow: none;
            }
            > div {
                padding: 5px 10px;
            }
        }
    }
    .desc {
        color: $vin-gray;
        header {
            font-size: 20px;
            color: $vin-red;
        }
        max-width: 550px;
    }
    .link {
        color: $vin-red;
    }
}
